.resultsbox {
  display: flex;
  width: 298px;
  outline: 1px solid;
  margin: 0 auto;
  height: 70px;
  text-align: end;
  background-color: rgba(31, 31, 31, 0.79);
  font-size: 40px;
  justify-content: end;
}
.calculator {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  grid-auto-rows: 50px;
  width: 300px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 25px;
}
.orange {
  background-color: orange;
}
.dark-grey {
  background-color: rgba(40, 39, 39, 0.79);
}
.undefined {
  background-color: rgb(135, 131, 131);
}
.button {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  font-size: 20px;
  color: #ffff;
}

.App {
  text-align: center;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
